.detalles{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    color: antiquewhite;
    color:  #EE7F7F;
}
.bot-agregar{
    color: #EE7F7F;
    padding: 10px;
    font-size: 25px;
}
.bot-agregar button{
    background-color: antiquewhite;
    border-radius: 10px;
    border-color: antiquewhite;
    padding: 8px;
    border: none;
}