.navbar {
    background-color: #5F021F;
    text-align: center;
    padding: 20px !important;
    border-bottom: 2px #EE7F7F solid;
}

.navbar a{
    text-decoration: none;
    color: #EE7F7F;
    font-size: 25px;
    font-weight: bold;
}

.active{
    font-size: 35px !important;
    color: #fcc3c3 !important;
}